<style>
    .AGENTS_RUNNING {
        color: #5cb85c;
    }
    .AGENTS_DOWN {
        color: #c9302c;
    }
    .AGENTS_NOT_INSTALLED {
        color: #c9302c;
    }
</style>
<table st-table="nodeList" st-safe-src="$ctrl.nodeList" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="host" st-sort-default="reverse" translate>NODE_MANAGEMENT.STATUS</th>
        <th translate>NODE_MANAGEMENT.NAME</th>
        <th translate>NODE_MANAGEMENT.UUID</th>
        <th translate>NODE_MANAGEMENT.TCP_PORT</th>
        <th translate>NODE_MANAGEMENT.UDP_PORT</th>
        <th translate>NODE_MANAGEMENT.ADMIN_ACCESS_HOST</th>
        <th translate>NODE_MANAGEMENT.ADMIN_ACCESS_PORT</th>
        <th translate>NODE_MANAGEMENT.CUSTOM_DATA</th>
        <th translate>NODE_MANAGEMENT.BOOT_TIME</th>
        <th translate>NODE_MANAGEMENT.DISTRIBUTION_VERSION</th>
        <th translate>NODE_MANAGEMENT.DISTRIBUTION_DATE</th>
        <th translate>NODE_MANAGEMENT.INSTALL_DATE</th>
        <th translate>NODE_MANAGEMENT.ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in nodeList" ng-class="{info: item.active}">
        <td>
            <span class="{{item.state.replace('.', '_')}}" translate>{{item.state}}</span>
        </td>
        <td>
            <span editable-text="item.name" e-name="name" e-form="updateForm"
                  onbeforesave="$ctrl.onCheckName({name: $data})" e-required>
                {{ item.name || 'empty' }}
            </span>
        </td>
        <td>{{item.uuid}}</td>
        <td>
            <span editable-text="item.tcpPort" e-name="tcpPort" e-form="updateForm">
                {{ item.tcpPort || 'empty' }}
            </span>
        </td>
        <td>
            <span editable-text="item.udpPort" e-name="udpPort" e-form="updateForm">
                {{ item.udpPort || 'empty' }}
            </span>
        </td>
        <td>
            <span editable-text="item.adminAccess.host" e-name="adminHost" e-form="updateForm">
                {{ item.adminAccess.host || 'empty' }}
            </span>
        </td>
        <td>
            <span editable-text="item.adminAccess.port" e-name="adminPort" e-form="updateForm">
                {{ item.adminAccess.port || 'empty' }}
            </span>
        </td>
        <td>
            <div ui-ace="$ctrl.aceSettings"
                 id="input-customData"
                 ng-model="item.customDataAsString"
                 e-name="customData"
                 e-form="updateForm"
                 editable-textarea="item.customDataAsString"
                 readonly="true"
                 style="height: 150px; width: 200px; background: whitesmoke;"
            />
        </td>
        <td>{{item.bootTime | date : 'short'}}</td>
        <td>{{item.distributionVersion}}</td>
        <td>{{item.distributionTimestamp | date : 'short'}}</td>
        <td>{{item.installTimestamp | date : 'short'}}</td>

        <td style="white-space: nowrap">
            <!-- update node form -->
            <form editable-form name="updateForm" onbeforesave="$ctrl.updateNode($data, item)"
                  ng-show="updateForm.$visible" class="form-buttons form-inline">
                <button type="submit" ng-disabled="updateForm.$waiting"
                        class="btn btn-primary" translate>
                    GENERAL.SAVE
                </button>
                <button type="button" ng-disabled="updateForm.$waiting"
                        ng-click="updateForm.$cancel()" class="btn btn-default" translate>
                    GENERAL.CANCEL
                </button>
            </form>
            <!-- install distribution form -->
            <form editable-form name="installForm"
                  onbeforesave="$ctrl.installAgent($ctrl.selectedDistribution, item)"
                  ng-show="installForm.$visible" class="form-buttons form-inline">
                <select
                        ng-model="$ctrl.selectedDistribution"
                        class="form-control"
                        id="distribution-list"
                        ng-options="dist as (dist.name + ' - ' + dist.version)
                            for dist in $ctrl.distributionList
                            track by dist._id"
                >
                </select>
                <button type="submit" ng-disabled="installForm.$waiting"
                        class="btn btn-primary" translate>
                    DIALOGS_OK
                </button>
                <button type="button" ng-disabled="installForm.$waiting"
                        ng-click="installForm.$cancel()" class="btn btn-default" translate>
                    GENERAL.CANCEL
                </button>
            </form>

            <div class="buttons" ng-show="!updateForm.$visible && !installForm.$visible">
                <div class="row" style="margin-bottom: 5px;">
                    <button type="button"
                            style="margin-right: 5px;"
                            class="btn btn-primary btn-xs"
                            ng-click="installForm.$show()"
                            ng-disabled="$ctrl.isOperationInProgress"
                            translate>NODE_MANAGEMENT.INSTALL
                    </button>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <button type="button"
                            style="margin-right: 5px;"
                            class="btn btn-success btn-xs"
                            ng-click="$ctrl.startNode(item)"
                            ng-disabled="!$ctrl.canStart(item) || $ctrl.isOperationInProgress"
                            translate>GENERAL.START
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-xs"
                            ng-click="$ctrl.stopNode(item)"
                            ng-disabled="!$ctrl.canStop(item) || $ctrl.isOperationInProgress"
                            translate>GENERAL.STOP
                    </button>
                </div>
                <div class="row">
                    <button type="button"
                            style="margin-right: 5px;"
                            class="btn btn-default btn-xs"
                            ng-click="updateForm.$show()"
                            ng-disabled="$ctrl.isOperationInProgress"
                            translate>GENERAL.EDIT
                    </button>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            ng-click="$ctrl.uninstallAgent(item)"
                            ng-disabled="$ctrl.isOperationInProgress"
                            translate>NODE_MANAGEMENT.UNINSTALL
                    </button>
                </div>
            </div>
        </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
