<style>
    .HOST_RUNNING {
        color: #5cb85c;
    }
    .HOST_DOWN {
        color: #c9302c;
    }
    .HOST_NOT_INSTALLED {
        color: #c9302c;
    }
</style>
<table st-table="hostList" st-safe-src="$ctrl.hostList" class="table table-striped">
    <thead>
    <!--router headers-->
    <tr ng-if="$ctrl.hostCategory==='router'">
        <th st-sort="host" st-sort-default="reverse" translate>NODE_MANAGEMENT.STATUS</th>
        <th translate>NODE_MANAGEMENT.LOCAL_ADDRESS</th>
        <th translate>NODE_MANAGEMENT.DNS</th>
        <th translate>HOST_MANAGEMENT.SENTINEL_PORT</th>
        <th translate>NODE_MANAGEMENT.ACTIONS</th>
    </tr>
    <!--http headers-->
    <tr ng-if="$ctrl.hostCategory==='http'">
        <th st-sort="host" st-sort-default="reverse" translate>NODE_MANAGEMENT.STATUS</th>
        <th translate>NODE_MANAGEMENT.LOCAL_ADDRESS</th>
        <th translate>HOST_MANAGEMENT.SENTINEL_PORT</th>
        <th translate>NODE_MANAGEMENT.ACTIONS</th>
    </tr>
    <!--agent headers-->
    <tr ng-if="$ctrl.hostCategory==='agent'">
        <th st-sort="host" st-sort-default="reverse" translate>NODE_MANAGEMENT.LOCAL_ADDRESS</th>
        <th translate>NODE_MANAGEMENT.REMOTE_ADDRESS_NAME</th>
        <th translate>HOST_MANAGEMENT.SENTINEL_PORT</th>
        <th translate>NODE_MANAGEMENT.NODE_COUNT</th>
        <th translate>NODE_MANAGEMENT.ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in hostList | bitcraftHostFilter:$ctrl.hostCategory"
        ng-class="{info: item.active}"
        ng-click="$ctrl.onHostClicked({hostInfo: item})"
    >
        <td ng-show="$ctrl.hostCategory!=='agent'">
            <span class="{{item.state.replace('.', '_')}}" translate>{{item.state}}</span>
        </td>
        <td>{{item.localAddress}}</td>
        <td ng-if="$ctrl.hostCategory!=='http'">{{item.dns}}</td>

        <td>{{item.sentinelPort}}</td>
        <td ng-show="$ctrl.hostCategory==='agent'">{{item.nodeCount}}</td>
        <!--TODO
            show machine info: agent count, agent health/errors
        -->

        <td style="white-space: nowrap">
            <!-- install distribution form -->
            <form editable-form name="installForm"
                  onbeforesave="$ctrl.installHttp($ctrl.selectedDistribution, item, $ctrl.hostInfo)"
                  ng-show="installForm.$visible" class="form-buttons form-inline">
                <select
                        ng-model="$ctrl.selectedDistribution"
                        class="form-control"
                        id="distribution-list"
                        ng-options="dist as (dist.name + ' - ' + dist.version)
                            for dist in $ctrl.distributionList
                            track by dist._id"
                >
                </select>
                <button type="submit" ng-disabled="installForm.$waiting"
                        class="btn btn-primary" translate>
                    DIALOGS_OK
                </button>
                <button type="button" ng-disabled="installForm.$waiting"
                        ng-click="installForm.$cancel()" class="btn btn-default" translate>
                    GENERAL.CANCEL
                </button>
            </form>

            <div class="buttons" ng-show="!installForm.$visible">
                <button ng-show="$ctrl.hostCategory!=='agent'"
                        type="button"
                        class="btn btn-primary btn-xs"
                        ng-click="installForm.$show(); $event.stopPropagation();"
                        ng-disabled="!$ctrl.canInstall(item) || $ctrl.isOperationInProgress"
                        translate>NODE_MANAGEMENT.INSTALL</button>
                <button ng-show="$ctrl.hostCategory!=='agent'"
                        class="btn btn-success btn-xs"
                        ng-disabled="!$ctrl.canStart(item) || $ctrl.isOperationInProgress"
                        ng-click="$ctrl.startHttp(item); $event.stopPropagation();"
                        translate>GENERAL.START</button>
                <button ng-show="$ctrl.hostCategory!=='agent'"
                        class="btn btn-danger btn-xs"
                        ng-disabled="!$ctrl.canStop(item) || $ctrl.isOperationInProgress"
                        ng-click="$ctrl.stopHttp(item); $event.stopPropagation();"
                        translate>GENERAL.STOP</button>
                <button type="button"
                        class="btn btn-default btn-xs"
                        ng-disabled="$ctrl.isOperationInProgress"
                        ng-click="$ctrl.onUninstallHost({hostInfo: item}); $event.stopPropagation();"
                        translate>NODE_MANAGEMENT.UNINSTALL</button>
                <button type="button"
                        class="btn btn-primary btn-xs"
                        ng-disabled="$ctrl.isOperationInProgress"
                        ng-click="$ctrl.reinstallSentinel(item); $event.stopPropagation();"
                        translate>NODE_MANAGEMENT.REINSTALL_SENTINEL</button>
            </div>
        </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
